 style

html{

}
body{
    background-color: rgb(7, 5, 27);
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-flow: wrap;
    /* margin: 50% */
   
}
.container{
    display: Flex;
    /* Flex-direction:column; */
    justify-content: center;
    align-content: center; 
    /*flex-basis: auto;*/
    background-color: rgb(4, 1, 19); 
    width: 20%;
    height:70%;
    border-radius: 15px;
    

}
.item-1{
    display: Flex;
    flex-flow :column wrap;
    justify-content: center;
    align-content: center; 
    text-align:center;
    /* margin-left: 20px;
    margin-top: 30px;*/
    background-color:rgb(104, 93, 84);
    padding-top: 20px;
    padding-right: 5px;
    height:80%; 
    width:90%;
    font-size: smaller;
    border-radius: 10px;
}
.item-2{
    display:flex;
    flex-direction: column;
    border-radius: 10px
/* flex-wrap: nowrap; */
    /* height:50%; */
    /* width:99.9%; */
    ;
   .item-22{
        text-align: left;

    }


}
.item-34{
    display: flex; 
    Flex-flow: wrap , row ;
    justify-content: space-between;
    margin: 5px;


}
 .item-5 { 
    /* display: flex; */
  /* Flex-direction:row; */
    margin-left:10px;
    /* justify-content:space-evenly; */

 }
hr{

    align-self : center;
    width: 90%;
    height: -20px;
    margin:10px;
}